# --- SYSTEM USER SETTINGS ---
PUID=1000
PGID=1000
TZ=YOUR_TIMEZONE

# --- PATH CONFIGURATIONS ---
# The absolute root folder where your container data lives
DOCKER_ROOT=~/containers

# The absolute folder where your hard drives store media files
MEDIA_ROOT=~/Media

HDD_ROOT=/mnt/Vault

# --- Tokens ---
DUCKDNS_TOKEN=YOUR_DUCKDNS_TOKEN
