prometheus.exporter.cadvisor "cadvisor" {
  docker_host = "unix:///var/run/docker.sock"
  storage_duration = "5m"
}

prometheus.scrape "docker_scraper" {
  targets    = prometheus.exporter.cadvisor.cadvisor.targets
  forward_to = [prometheus.remote_write.prometheus.receiver]
}

prometheus.exporter.unix "host" {
  procfs_path    = "/host/proc"
  sysfs_path     = "/host/sys"
  rootfs_path    = "/rootfs"
  udev_data_path = "/host/run/udev/data"
}

prometheus.scrape "host_scraper" {
  targets    = prometheus.exporter.unix.host.targets
  forward_to = [prometheus.remote_write.prometheus.receiver]
}

prometheus.remote_write "prometheus" {
  endpoint {
    url = "http://prometheus:9090/api/v1/write"
  }
}
